#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####
#### DIR VARS

export LC_ALL="C.UTF-8"

export vedicon_INFRASTRUCTURE_CODENAME="{{ INFRASTRUCTURE_CODENAME }}"
export vedicon_INFRASTRUCTURE_LAB="{{ INFRASTRUCTURE_SCENARIO }}"
export vedicon_INFRASTRUCTURE_CODENAME_LAB_NAMES="$vedicon_INFRASTRUCTURE_CODENAME-$vedicon_INFRASTRUCTURE_LAB"

export vedicon_GITDIR__ROOT_DIR="{{ DEPLOYER_CLI__DST_GIT_DIR }}"
export vedicon_CONFIG_BASE_DIR="{{ DEPLOYER_CLI__DST_CONFIG_BASE_DIR }}"
export vedicon_CONFIG__ROOT_DIR="{{ DEPLOYER_CLI__DST_CONFIG_BASE_DIR }}/$vedicon_INFRASTRUCTURE_CODENAME_LAB_NAMES/"

export vedicon_ANSIBLE_ROLES__ROOT_DIR="${vedicon_GITDIR__ROOT_DIR%/}/"

export vedicon_ANSIBLE_ROLES__DEVKITS_DIR="${vedicon_GITDIR__ROOT_DIR%/}/vedicon-ansible_roles-debug-devkit/"
export vedicon_ANSIBLE_ROLES__INVENTORY_DIR="${vedicon_CONFIG__ROOT_DIR%/}/inventory/"

export vedicon_INVENTORY="${vedicon_ANSIBLE_ROLES__ROOT_DIR%/}/vedicon-catalog"
export vedicon_INVENTORY__DOCKER__CTF="${vedicon_INVENTORY%/}/03_container_layer/docker/_ctf/"

#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####
# :: ROLES PATH

TMP_ANSIBLE_ROLES_PATHS="${vedicon_ANSIBLE_ROLES__ROOT_DIR%/}/vedicon/roles/:"
TMP_ANSIBLE_ROLES_PATHS+="${vedicon_ANSIBLE_ROLES__ROOT_DIR%/}/vedicon-ansible_roles-proxmox_controller/roles/:"
TMP_ANSIBLE_ROLES_PATHS+="${vedicon_ANSIBLE_ROLES__ROOT_DIR%/}/vedicon-catalog/02_ansible_layer/admin/roles/:"
TMP_ANSIBLE_ROLES_PATHS+="${vedicon_ANSIBLE_ROLES__ROOT_DIR%/}/vedicon-catalog/02_ansible_layer/trainee/roles/"

export ANSIBLE_ROLES_PATH="$TMP_ANSIBLE_ROLES_PATHS"

#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####
# :: VAULT PASSWORD FILE

export vedicon_VAULT_PASSWORD_FILE="${vedicon_CONFIG__ROOT_DIR%/}/secrets/vault_pass.txt"

#### #### #### #### #### #### #### #### #### #### #### #### #### #### #### ####
